// using vs code to run spring boot add like this in launch.json
     "env":{
                "SPRING_DATASOURCE_URL":SPRING_DATASOURCE_URL,
                "SPRING_DATASOURCE_USERNAME":SPRING_DATASOURCE_USERNAME,
                "SPRING_DATASOURCE_PASSWORD":SPRING_DATASOURCE_PASSWORD
            }

            
//Add into your configuration file use others platforms.

spring.datasource.url=SPRING_DATASOURCE_URL
spring.datasource.username=SPRING_DATASOURCE_USERNAME
spring.datasource.password=SPRING_DATASOURCE_PASSWORD